
body {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    height: 100vh;
}

.debug {
    border: 1px solid red;
}

.card {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

.max-width-container {
    max-width: 120rem;
}

.max-content {
    max-width: max-content;
    width: 100%;
}

.main-plot {
    width: 50rem;
    height: 50rem;
    max-width: min-content !important;
}

.overview-plot {
    width: 18rem;
    height: 18rem;
}

.explanation-plot {
    width: 30rem;
    height: 30rem;
}

.page-title {
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 1rem;
}

.input-label {
    font-size: 0.88rem;
    margin-bottom: 0;
}